
body {
  margin: 0;
  background-color: #fff9c7;
  font-family: Arial, Helvetica, sans-serif, Microsoft YaHei, Microsoft JhengHei, '微軟雅黑體', '微軟正黑體', '黑體';
}

.header {
  background-color: #3E5887;
  padding: 0vw;
  width: 100%;
  overflow: hidden;
  height: 15vh;
}

.header_left{
  float: left;
}

.header_right{
  float: right;
}

.header_left h2 {
  font-size: 3vw;
  padding: 0.5vw;
  margin: 1vw;
  color: white;
}

.header_right h3{
  font-size: 1.5vw;
  padding: 1vw;
  margin: 1vw;
  color: white;
  vertical-align: middle;
  line-height: 20px;
}

.header_right button{
  background-color: #3E5887;
  color: white;
  padding: 1vw;
  margin: 1vw;
  border: none;
  cursor: pointer;
  transition: 0.5s linear;
  vertical-align: middle;
  line-height: 2vw;
}

.header_right button:hover {
  background-color: #0acc3e;
}

/* Full-width input fields */
input[type=text], input[type=password] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

/* Set a style for all buttons */
button {
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
}

button:hover {
  opacity: 0.8;
}

/* Center the image and position the close button */
.imgcontainer {
  text-align: center;
  margin: 24px 0 12px 0;
  position: relative;
}

.container {
  padding: 16px;
}

.container p {
	text-align: center;
	font-size: 10px;
}

span.psw {
  float: right;
  padding-top: 16px;
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  padding-top: 60px;
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
  border: 1px solid #888;
  border-radius: 10px;
  width: 30%; /* Could be more or less, depending on screen size */
}

/* The Close Button (x) */
.close {
  position: absolute;
  right: 25px;
  top: 0;
  color: #000;
  font-size: 35px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: red;
  cursor: pointer;
}

/* Add Zoom Animation */
.animate {
  -webkit-animation: animatezoom 0.6s;
  animation: animatezoom 0.6s
}

@-webkit-keyframes animatezoom {
  from {-webkit-transform: scale(0)} 
  to {-webkit-transform: scale(1)}
}
  
@keyframes animatezoom {
  from {transform: scale(0)} 
  to {transform: scale(1)}
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
  span.psw {
     display: block;
     float: none;
  }
  .cancelbtn {
     width: 100%;
  }
}

.navbar {
  overflow: auto;
  width: 100%;
  background-color: #6effc4;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,.4);
}

.navbar a {
  float: left;
  display: block;
  color: black;
  text-align: center;
  width: 8vw;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  transition: 0.5s linear;
}

/* Add responsiveness - on screens less than 500px, make the navigation links appear on top of each other, instead of next to each other 
@media screen and (max-width: 500px) {
  .navbar a {
    float: none;
    display: block;
    width: 100%;
    overflow: none;
    text-align: center; /* If you want the text to be left-aligned on small screens */
  }
}
*/
.navbar a:hover {
  color: black;
  background-color: #24ffa6;
}

.navbar a.active {
  background-color: #0acc3e;
  color: white;
}

#content iframe{
  position: absolute;
  bottom: 0;
  border: none;
  width: 100vw;
  height: 80vh;
  z-index: -1;
}

.dropdown {
  
}

.dropdown_content {
  display: none;
  position: absolute;
  background-color: #0acc3e;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  margin: 0vw 1vw;
  z-index: 10;
  transition: 0.5s linear;
}

.dropdown:hover .dropdown_content {
  display: block;
}

.dropdown_content:hover {
	background-color: #02e88b;
}
