
body {
  margin: 0;
  background-color: #fff9c7;
  font-family: Arial, Helvetica, sans-serif, Microsoft YaHei, Microsoft JhengHei, '微軟雅黑體', '微軟正黑體', '黑體';
}

.context {
  position: absolute;
  left: 50%;
  top: 10%;
}

.context_left{
  position: absolute;
  left: 5%;
  top: 10%;
}

.back {
  background-color: #6effc4;
  color: black;
  padding: 0.5vw;
  margin: 2vw;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  width: 5vw;
}

.title {
  font-size: 3vw;
  padding: 1vw 0px;
}

p {
  font-size: 2vw;
  padding: 0px;
  margin: 0;
}

input[type=submit]{
  background-color: #6effc4;
  color: black;
  padding: 1vw;
  margin: 1vw;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  width: 5vw;
}

input {
	padding:8px;
	border:0!important;
	border-bottom:1px solid #ccc;
}

.radio {
	padding:8px;
	width:24px;
	height:24px;
	position:relative;
	top:6px;
}
.img
{
	position:absolute;
	left:75%;
	top:20%;
}
.img img{
  object-fit: cover;
  height: 20vw;
  width: 20vw;
  border-radius: 20px;
  display:block;
  margin:auto;
  padding: 0.5vw;
}