

body {
  margin: 0;
  font-size: 28px;
  background-color: #ff7d89;
  font-family: Arial, Helvetica, sans-serif, Microsoft YaHei, Microsoft JhengHei, '微軟雅黑體', '微軟正黑體', '黑體';
}

summary{
	font-size: 20px;
}

p{
	font-size: 15px;
}
