

body {
  margin: 0;
  background-color: #ff7d89;
  font-family: Arial, Helvetica, sans-serif;
}

.foster_available{
  width: 50%;
  float: left;
}

.foster_finish{
  width: 50%;
  float: left;
}

.foster_operation{
  width: 100%;
  overflow: hidden;
}

.foster_operation_left{
  float: left;
}

.foster_operation_right{
  float: right;
  vertical-align: middle;
  line-height: 20px;
}

.foster_operation_left h4{
  margin: 1.5vh;
  color: white;
}

.foster_operation_right button{
  margin: 1vh;
}

.a_animal{
  width: 45%;
  background-color: #ffd1ab;
  margin: 10px;
}

.a_animal img{
  height: calc(100% / 2);
  width: calc(100% / 2);
  display:block;
  margin:auto;
}

.a_animal p{
  text-align: center;
  
}