

body {
  margin: 0;
  background-color: #ff7d89;
  font-family: Arial, Helvetica, sans-serif, Microsoft YaHei, Microsoft JhengHei, '微軟雅黑體', '微軟正黑體', '黑體';
}

.new {
  background-color: #6effc4;
  color: black;
  padding: 0.5vw;
  margin: 0.5vw;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  width: 5vw;
}

.foster_available{
  width: 100%;
  height: 100vh;
  float: left;
  overflow-y: scroll;
}

.foster_finish{
  width: 50%;
  height: 100vh;
  float: left;
  overflow-y: scroll;
}

.foster_operation{
  width: 100%;
  overflow: hidden;
}

.foster_operation_left{
  float: left;
}

.foster_operation_right{
  float: right;
  vertical-align: middle;
  line-height: 20px;
}

.foster_operation_left h4{
  margin: 1.5vh;
  color: white;
}

.foster_operation_right button{
  margin: 1vh;
}

.a_animal{
  width: 22vw;
  background-color: #ffd1ab;
  margin: 10px;
  float: left;
  border-radius: 5px;
  overflow: hidden;
}

.a_animal img{
  object-fit: cover;
  height: 15vw;
  width: 15vw;
  border-radius: 5px;
  display:block;
  margin:auto;
  padding: 0.5vw;
}

.a_animal p{
  text-align: center;
  padding: 0vw;
  margin: 0vw;
}

.a_animal button {
  position: relative;
  left: 23.5%;
  background-color: #6effc4;
  color: black;
  padding: 0.5vw;
  margin: 0.5vw 0;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  width: 5vw;
}

.del{
  background-color: #ff6675;
}