

body {
  margin: 0;
  background-color: #fff9c7;
  font-family: Arial, Helvetica, sans-serif, Microsoft YaHei, Microsoft JhengHei, '微軟雅黑體', '微軟正黑體', '黑體';;
}

.header {
  background-color: #3E5887;
  padding: 0vw;
  width: 100%;
  overflow: hidden;
}

.header_left{
  float: left;
}

.header_right{
  float: right;
}

.header_left h2 {
  font-size: 3vw;
  padding: 0.5vw;
  margin: 1vw;
  color: white;
}

.header_right h3{
  font-size: 1.5vw;
  padding: 1vw;
  margin: 1vw;
  color: white;
  vertical-align: middle;
  line-height: 20px;
}
.navbar {
  overflow: auto;
  width: 100%;
  background-color: #6effc4;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,.4);
}

.navbar a {
  float: left;
  display: block;
  color: black;
  text-align: center;
  width: 10vw;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  transition: 0.5s linear;
}

/* Add responsiveness - on screens less than 500px, make the navigation links appear on top of each other, instead of next to each other */
@media screen and (max-width: 500px) {
  .navbar a {
    float: none;
    display: block;
    width: 100%;
    overflow: none;
    text-align: center; /* If you want the text to be left-aligned on small screens */
  }
}

.navbar a:hover {
  color: black;
  background-color: #24ffa6;
}

.navbar a.active {
  background-color: #0acc3e;
  color: white;
}

.content {
}

.sticky {
  position: fixed;
  top: 0;
  z-index: 100;
  width: 100%;
}

.sticky + .content {
  padding-top: 60px;
}

#tabs {
  overflow: hidden;
  margin: 0;
  padding: 2vw 0 0 3vw;
  list-style: none;
}

#tabs li {
  float: left;
}

.tabs div {
  position: relative;
  background: #ffae6b;
  float: left;
  text-decoration: none;
  padding:  12px 20px;
  color: white;
  font-size: 17px;
  border-radius: 7px 7px 0 0;
  box-shadow: 0 2px 2px rgba(0,0,0,.4);
  transition: 0.5s linear;
  cursor: pointer;
}

.tabs div.active {
  background: #ff7d89;
  color: white;
}

#content {
  background: #ff7d89;
  padding: 0.5em;
  margin: 0 2vw 0 2vw;
  height: 66.5vh;
  position: relative;
  border-radius: 7px 7px 7px 7px;
  box-shadow: 0 -2px 3px -2px rgba(0, 0, 0, .5);
}

#content iframe{
  border: none;
  width: 100%;
  height: 100%;
}
