{% extends "app/layout.html" %}

{% block content %}
		
		<div class="content">
			<ul id="tabs" class="tabs">
			    <li><div class="active" name="user_foster">送養</div></li>
			    <li><div href="#" name="user_adoption.html">認養</div></li>
			    <li><div href="#" name="user_receive.html">收信夾</div></li>
			    <li><div href="#" name="user_second_hand.html">二手用品</div></li>
				<li><div herf="#" name="user_list">個人資料</div></li>
			</ul>
			<div id="content">
				<iframe src="user_foster"></iframe>
			</div>
		</div>

		<script>
		$(".navbar a").click(function(){
			$(".navbar a").removeClass("active");
			$(this).addClass("active");
		});
		$(".tabs li div").click(function(){
			$(".tabs li div").removeClass("active");
			$(this).addClass("active");
			$(".content iframe").attr('src', $(this).attr("name"));
		});
		window.onscroll = function() {myFunction()};

		var navbar = document.getElementById("navbar");
		var sticky = navbar.offsetTop;

		function myFunction() {
		  if (window.pageYOffset >= sticky) {
		    navbar.classList.add("sticky")
		  } else {
		    navbar.classList.remove("sticky");
		  }
		}
		</script>

{% endblock %}