<!DOCTYPE html>

<html lang="zh-TW" dir="ltr">
	<head>
		<meta charset = "utf-8">
		<title>個人頁面-送養--動物認養系統</title>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" type="text/css"href="../../static/app/content/user_foster.css">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
		<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js">
		</script>
		
	</head>
	<body>
		<div>
			{%for u in user%}
			<span>Name:{{u.username}}</span><br>
			<span>Account:{{u.account}}</span><br>
			<span>psd:{{u.psd}}</span><br>
			<span>Address:{{u.address}}</span><br>
			<span>Phone:{{u.phone}}</span><br>
			<span>Gender:{{u.gender}}</span><br>
			<span>IDNumber:{{u.IDNumber}}</span><br>
			{% empty %}
			{% endfor %}
			<button type="submit">Change</button>

		</div>
	</body>
</html>